 
 {% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
 {% for message in messages %}
  {% if "success" in message.tags %}
  <div class="alert alert-success" role="alert">
      {{message}}
  </div>
  {% endif %}
  {% if "error" in message.tags %}
  <div class="alert alert-danger" role="alert">
      {{message}}
  </div>
  {% endif %}
  {% endfor %}
    {{ block.super }}
     {% comment %} <li>
        <a href="#" class="btn btn-high btn-success">Import</a>
    </li> {% endcomment %}
    
{% endblock %}

